@model CadLocacaoViewModel
@{
    ViewData["Title"] = "Cadastro de Emprestimos";
}
<h1 class="row justify-content-md-center">Cadastro de Empréstimo</h1>
<div class="row justify-content-md-center">
    <form asp-action="Cadastro" method="POST" class="col-md-4">
        <fieldset>
            <legend>Usuario</legend>
            <div class="form-group">
                <label asp-for="Locacao.NomeUsuario">Nome</label>
                <input asp-for="Locacao.NomeUsuario" class="form-control" required />
            </div>
            <div class="form-group">
                <label asp-for="Locacao.Telefone">Telefone</label>
                <input type="text" class="telefone" asp-for="Locacao.Telefone" maxlength="15" required />
            </div>
        </fieldset>
        <fieldset>
            <legend>Filme</legend>
            <div class="form-group">
                <label asp-for="Locacao.DataLocacao">Data de Locação</label>
                <input type="date" asp-for="Locacao.DataLocacao" class="form-control" required />
            </div>
            <div class="form-group">
                <label asp-for="Locacao.DataDevolucao">Data de Devolução</label>
                <input type="date" asp-for="Locacao.DataDevolucao" class="form-control" required />
            </div>
            <div class="form-group">
                <label asp-for="Locacao.FilmeId">Filme</label>
                <select asp-for="Locacao.FilmeId" class="form-control">
                    @foreach (Filme l in Model.Filmes)
                    {
                        <option value="@l.Id">@l.Nome</option>
                    }
                </select>
            </div>
        </fieldset>
        <input type="submit" value="Salvar" class="btn btn-primary" />
        </br>
        </br>
        </br>
        </br>
        </br>
        </br>
        </br>
    </form>
    <script src="https://yandex.st/highlightjs/7.3/highlight.min.js"></script>
    <script type="text/javascript" src="https://code.jquery.com/jquery-latest.min.js"></script>
    <script type="text/javascript" src="~/js/jquery.mask.min.js"></script>
    <script type="text/javascript">

        $(".telefone").mask("(00) 0 0000-0000");

    </script>
</div>