@model CadLocacaoViewModel
@{
    ViewData["Title"] = "Edição de Emprestimo";
}

<h1 class="row justify-content-md-center">Edição de Empréstimo</h1>
<div class="row justify-content-md-center">
    <form asp-action="Edicao" method="POST" class="col-md-4">
        <input type="hidden" asp-for="Locacao.Id" />
        <fieldset>
            <legend>Usuário</legend>
            <div class="form-group">
                <label asp-for="Locacao.NomeUsuario">Nome</label>
                <input asp-for="Locacao.NomeUsuario" class="form-control"/>
            </div>
            <div class="form-group">
                <label asp-for="Locacao.Telefone">Telefone</label>
                <input asp-for="Locacao.Telefone" class="form-control"/>
            </div>
        </fieldset>
        <fieldset>
            <legend>Filme</legend>
            <div class="form-group">
                <label asp-for="Locacao.DataLocacao">Data de Locação</label>
                <input type="date" asp-for="Locacao.DataLocacao" class="form-control" readonly="readonly"/>
            </div>
            <div class="form-group">
                <label asp-for="Locacao.FilmeId">Filme</label>
                <select asp-for="Locacao.FilmeId" class="form-control" readonly="readonly">
                    @foreach(FilmeViewModel l in Model.Filmes)
                    {
                        <option value="@l.Id">@l.Nome</option>
                    }
                </select>
            </div>
        </fieldset>
        <input type="submit" value="Salvar" class="btn btn-primary"/>
    </form>
</div>