@model UsuarioViewModel

<h1>Registre um Usuário</h1>

<form asp-action="CadastroUser" method="POST">
    <input type="text" name="Nome" id="userNome" placeholder="Nome">
    <input type="text" name="Login" id="userLogin" placeholder="Login">
    <input type="text" name="Senha" id="userSenha" placeholder="Senha">

    <select name="tipo" id="userTipo" disabled>
        <option value="@UsuarioViewModel.padrao">Padrão</option>
    </select>

    <input type="submit" value="Registrar">
</form>