@model List<UsuarioViewModel>
<h1>Usuários cadastrados no sistema</h1>

<p class="text-danger"> @ViewData["mensagem"]</p>

<table class="table">
    <thead>
        <tr>
            <th class="textos" scope="row">Nome</th>
            <th class="textos" scope="row">Login</th>
            <th class="textos" scope="row">Tipo</th>
        </tr>
    </thead>
    <tbody>
        @foreach (UsuarioViewModel u in Model)
        {
            <tr>
                <td class="textos">@u.Nome</td>
                <td class="textos">@u.Login</td>
                @if (u.Tipo == UsuarioViewModel.admin)
                {
                    <td class="textos">Administrador</td>
                }
                else
                {
                    <td class="textos">Padrão</td>
                }

                <td><a href="/Usuario/EdicaoUser?id=@u.Id">Editar</a></td>
                <td><a href="/Usuario/ExcluirUser?id=@u.Id">Excluir</a></td>
            </tr>
        }
    </tbody>
</table>

<a href="/Usuario/CadastroUser">Registrar um novo Usuário</a>